@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css");

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.3);
}


body {
    background-image: url("frontBG.jpeg");
    background-size: cover;       
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-position: center;       
}
main{
    padding-top: 50px;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h1 {
    color: white;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
}

.logo span {
    color: #00e1ff;
}

.navlinks {
    display: flex;
    gap: 25px;
    margin-left: 370px;
}

.navlinks a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s;
}

.navlinks a:hover {
  color: #00e1ff;
  font-size: 1.1em;
}

.navbtn {
  display: flex;
  gap: 10px;
}

.navbtnx {
    padding: 8px 16px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
    background: #00e1ff;
    color: black;
}

.navbtnx:hover {
    font-size: medium;
    transform: scale(1.15);
}

.lecture{
    margin-top: 160px;
    margin-left: 170px;
    font-size: 1.2em;
    color: white;
    margin-bottom: 30px;
}
.paralogo{
    color: #00e1ff;
    font-size: 1.1em;
}
.welcomepara{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.btnreg{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: #1976d2;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.btnreg:hover {
    background-color: #1565c0;
    transform: scale(1.1);
    transition: 0.3s;
}

footer {
    padding: 1.5rem 4rem;
    background: linear-gradient(135deg, lightblue 0%, #b3e5fc 100%);
    width: 100vw;
    text-align: center;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    bottom: 0;
    position: fixed;
}
