body{
    font-family: arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    background-color: lightblue;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

#stopsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#stopsList li {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2 ease-in-out;
}

#stopsList li:last-child {
    border-bottom: none;
}

#stopsList li:hover {
    background-color: #f9f9f9;
}



h2{
    text-align: center;
    color: blue;
}
/* ul,ol{
    text-align: left;
} */