@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css");

body{
    font-family: arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* padding-top: 40px; */
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    zoom: 97%;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    /* gap: 2rem; */
    flex-direction: column;
}
.container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    background-color: lightblue;
    padding: 1rem ;
    border-radius: 5px;
}
.content {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

#stopsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 200px;
}

#stopsList li {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2 ease-in-out;
}

#stopsList li:last-child {
    border-bottom: none;
}

#stopsList li:hover {
    background-color: #f9f9f9;
}



h2{
    text-align: center;
    color: blue;
}

footer {
    padding: 1rem 4rem;
    background-color: lightblue;
    width: 100vw;
}
/* ul,ol{
    text-align: left;
} */